@import 'normalize';
@import 'font-awesome';
@import 'bootstrap';
@import 'header';
@import 'menu';
@import 'content';

/* Basics */
html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
}
