{
    "presets": [
        "env",
        "react",
        "react-app"
    ],
    "plugins": [
        "transform-class-properties",
        "syntax-dynamic-import",
        "dynamic-import-node",
        "react-loadable/babel"
    ]
}
